body {
  background: url("image/pexels-eberhard-grossgasteiger-844297.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.form-area {
  background-color: aliceblue;
  width: 500px;
  min-height: 525px;
}
.container {
  border-radius: 10px;
}
small {
  margin-left: 5px;
  display: block;
}
.buttons {
  margin-left: 165px;
}
.success {
  color: green;
}
.error {
  color: red;
}
